{{#with content}}
  {{view Ember.TextField valueBinding="firstName" placeholder="First name"}}
  {{view Ember.TextField valueBinding="lastName"  placeholder="Last name"}}
{{/with}}
<div class="form-actions">
  {{#if content.id}}
    {{submitButton "Update"}}
  {{else}}
    {{submitButton "Create"}}
  {{/if}}
  <a class="btn" {{action cancelEdit}}>Cancel</a>
</div>
