{{#with content}}
  <h2><img {{bindAttr src="gravatar"}} />  {{fullName}}</h2>

  <dl class="dl-horizontal">
    {{#if email}}
      <dt>Email:</dt>
      <dd>{{mailto email}}</dd>
    {{/if}}
    {{#if notes}}
      <dt>Notes:</dt>
      <dd>{{notes}}</dd>
    {{/if}}
  </dl>
{{/with}}

<div class="well well-small">
  <a class="btn" {{action showEdit}}>Edit</a>
  <a class="btn btn-danger" {{action destroyRecord target="controller"}}>Remove</a>
</div>