<div class="control-group">
  <label class="control-label" for="firstName">First name</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="firstName" id="firstName" placeholder="First name" required="true"}}
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="lastName">Last name</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="lastName" id="lastName" placeholder="Last name" required="true"}}
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="email">Email</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="email" id="email" type="email" placeholder="Email address"}}
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="notes">Notes</label>
  <div class="controls">
    {{view Ember.TextArea valueBinding="notes" id="notes" placeholder="Notes"}}
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="phone">Phone</label>
  <div class="controls">
    {{#each phoneNumbers}}
      <div class="phone-number">
        {{view Ember.TextField valueBinding="number" placeholder="Number"}}
        <a class="btn" {{action removePhoneNumber this}}><i class="icon-minus-sign"></i> Remove</a>
      </div>
    {{/each}}
    <a class="btn" {{action addPhoneNumber}}><i class="icon-plus-sign"></i> Add a phone number</a>
  </div>
</div>
