{{#if controller.isEditing}}
  {{render "contactEdit"}}
{{else}}
<h2><img {{bindAttr src="gravatar"}} />{{fullName}}</h2>

<dl class="dl-horizontal">
  {{#if email}}
    <dt>Email:</dt>
    <dd>{{mailto email}}</dd>
  {{/if}}
  {{#if notes}}
    <dt>Notes:</dt>
    <dd>{{notes}}</dd>
  {{/if}}
  {{#if phoneNumbers.length}}
    <dt>Phone:</dt>
    <dd>
      {{#each phoneNumber in phoneNumbers}}
        <div>{{phoneNumber.number}}</div>
      {{/each}}
    </dd>
  {{/if}}
</dl>

<div class="well well-small">
  <a class="btn btn" {{action startEditing}}>Edit</a>
  <a class="btn btn-danger" {{action destroyRecord}}>Remove</a>
</div>
{{/if}}
